/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(
        to right,
        #191970,
        #6A5ACD,
        #87CEEB
    );
}

#main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #4682B4;
}

/* Estilos para la barra de búsqueda */
#search-box {
    margin-bottom: 20px;
    border-radius: 16px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
}

button {
    border: 2px solid #4682B4;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 12px 18px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #27567c;
    border: 2px solid #081018;
    color: white;
    border-radius: 8px;
    padding: 12px 18px;
  }

/* Estilos para las tarjetas de videojuegos */
.card-container {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #33528b;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-details {
    padding: 15px;
    text-align: left;
    margin-top: 20px;
    color:#ddd
}

.card-details strong {
    display: block;
    margin-bottom: 5px;
}

.card-details button {
    margin-left: 80%; /* Agrega margen superior al botón */
}



/* Estilos para mensajes */
#message,
p {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

h1{
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 120px;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/go3pCPP4899Jd3xb4p/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;

}
